html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color:white; 
}

nav ul li {
    float: right;
    padding: 5px;
}
nav ul li a:hover {
background-color: whitesmoke;

}
nav ul li a:link, nav ul li a:visited {
    text-decoration: none;
    display: block;
    border-radius: 2px;
    padding: 2px 4px 2px 4px;
    color:cadetblue;
    

}

ul {
    list-style: none;
    text-align: right;
    margin-right: 40px;
    
}
h1, p {
    text-align: center;
    margin: 0 auto;
}
h1 {
    padding-top: 10%;
}
p {
    padding-top: 40px;
}
